.public-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.public-layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 72px; // same as header height if header is fixed
}

app-footer {
  flex-shrink: 0;
}

app-home {
  flex: 1;
  display: block;
}

.home-content {
  flex: 1;
  min-height: 100%;
  background: #eef2f5;
}
