.right-sidebar {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: calc(100vh - 112px);
  overflow-y: auto;
}

.right-sidebar:hover {
  overflow-y: auto;
}

.right-sidebar::-webkit-scrollbar {
  width: 6px;
}

.right-sidebar::-webkit-scrollbar-thumb {
  background: #cbd5d1;
  border-radius: 999px;
}
