<aside class="left-sidebar">
  <a class="profile-card" routerLink="/profile">
    <img src="/assets/design/1.avatar.webp" alt="User avatar" />

    <div>
      <strong>Son Huynh</strong>
      <span>@huynhs123</span>
    </div>
  </a>

  <nav class="menu">
    <a *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.label }}
    </a>
  </nav>

  <a class="logout" routerLink="/signin">
    <mat-icon>logout</mat-icon>
    Log out
  </a>
</aside>
