<aside class="left-sidebar">
  <a class="profile-card" routerLink="/profile">
    <img
      src="https://media.vogue.co.uk/photos/602503e953a6c957c223e1c2/1:1/w_1079,h_1080,c_limit/65422624_362861021078977_3034176141535337881_n.jpg"
      alt="User avatar"
    />

    <div>
      <strong>Alex Rivera</strong>
      <span>@alexrivera</span>
    </div>
  </a>

  <nav class="menu">
    <a *ngFor="let item of menuItems" [routerLink]="item.route" routerLinkActive="active">
      <mat-icon>{{ item.icon }}</mat-icon>
      {{ item.label }}
    </a>
  </nav>

  <a class="logout" routerLink="/signin">
    <mat-icon>logout</mat-icon>
    Log out
  </a>
</aside>
