<div class="post-create">
  <div class="top-row">
    <img class="avatar" [src]="avatar" alt="User avatar" />

    <button type="button" class="post-input" (click)="openModal()">
      What’s on your mind, Son Huynh?
    </button>
  </div>

  <div class="divider"></div>

  <div class="actions">
    <button type="button" class="action photo">
      <span class="icon">▧</span>
      Photo
    </button>

    <button type="button" class="action feeling">
      <span class="icon">☺</span>
      Feeling
    </button>

    <button type="button" class="action location">
      <span class="icon">⌖</span>
      Location
    </button>
  </div>
</div>

<app-post-create-modal *ngIf="showCreatePostModal" (close)="closeModal()"> </app-post-create-modal>
