<div class="post-card">
  <div class="post-header">
    <div class="user-info">
      <img class="avatar" [src]="post.avatar" [alt]="post.author" />

      <div>
        <div class="name-row">
          <strong>{{ post.author }}</strong>
          <span class="username">@{{ post.username }}</span>
        </div>

        <div class="meta">
          <span>{{ post.time }}</span>
          <mat-icon>{{ post.visibility === 'public' ? 'public' : 'people' }}</mat-icon>
        </div>
      </div>
    </div>

    <button class="icon-btn" type="button">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>

  <div class="post-content">
    <p>{{ post.content }}</p>

    <div class="hashtags">
      <span *ngFor="let tag of post.hashtags">{{ tag }}</span>
    </div>
  </div>

  <img class="post-image" [src]="post.image" alt="post image" />

  <div class="post-stats">
    <div class="likes">
      <span class="like-circle">
        <mat-icon>favorite</mat-icon>
      </span>
      <span>{{ post.likeCount | number }}</span>
    </div>

    <div class="stats-right">
      <span>{{ post.comments.length }} comments</span>
      <span>{{ post.shareCount }} shares</span>
    </div>
  </div>

  <div class="divider"></div>

  <div class="post-actions">
    <button type="button" (click)="toggleLike()" [class.liked]="liked">
      <mat-icon>{{ liked ? 'favorite' : 'favorite_border' }}</mat-icon>
      <span>Like</span>
    </button>

    <button type="button" class="action-btn" [class.active]="showComment" (click)="toggleComment()">
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>Comment</span>
    </button>

    <button type="button">
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>

    <button type="button">
      <mat-icon>bookmark_border</mat-icon>
      <span>Save</span>
    </button>
  </div>

  <app-post-comment *ngIf="showComment" [comments]="post.comments"></app-post-comment>
</div>
